/* color del h1: #008FFF
   color del h2: #007AD9
   color de pagina: #8DCCFF
   color de contacto: #004D8A
*/

*{
    margin: 0;
    background-color:#8DCCFF;
}
h1{
    background-color: #008FFF;
    width: 100%;
    padding: 20px 0px;
    margin: 0;
    font-size: 50px;
    padding-top: 40px;
}
h2{
    padding: 10px 0px;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #007AD9;
    color: white;
}
.menu {
  width:100%;
  list-style:none;
  margin:0%;
  padding:0%;
    background-color: #004D8A;
}
.menu li {
  display:inline-block;
  width: 20%;
    height: 20px;
    padding: 0px 0px;
  text-align: center;
    background-color: #004D8A;
    font-size: 16
}
.menu li a {
  display:inline-block;
    text-decoration:none;
  color: white;
    text-align: center;
    background-color: #004D8A;
  
}
.menu li a:hover {
  background: black;
  color: cornflowerblue;
    height: 100%;
    width: 100%;
}
p{
  font-size: 20;
  font-family: sans-serif;
}
.correo{
  font-size: 60;    
}
.contac img{
    width: 350px;
    height: 350px;
    float: inherit;
    margin: 10px;
}
.cont{
    text-align:justify;
    margin: 10px;
}
.reconocimiento{
    float: left;
    margin: 10px 10px;
}
.reconocimiento img{
     width: 320px;
    height: 450px;
    margin: 8px;
    margin-top: 0;
}
.puesto img{
    float: right;
    width: 350px;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-top: 10px;
}
.elaboracion img{
    float: left;
    width: 320px;
    height: 230px;
    margin: 8px;
    margin-top: 0;
}
.banner img{
    margin-left: 50px;
    float: inherit;
}
.logo{
    vertical-align: middle;
    margin-right: 50px;
}
table{
     border-collapse: collapse;
    margin:  100px 30%;
    text-align: center;
    width: 40%;
}
    
th,td{
     padding: 10px;
    border:1px solid black;
}
td{
     background-color:  #008FFF;
}
th{
    background-color: #004D8A;
    color: white;
}
.precios{
    background-color: #007AD9;
    color: white;
}